.card {
    position: relative;
    border-top-left-radius: var(--border-radius);
    background-color: var(--grayscale-3);
    transition: 300ms;
    cursor: pointer;
  }
  
  .card:hover {
    color: var(--secondary-color);
    box-shadow: 0 0 5px var(--secondary-color);
    transform: scale(1.01);
  }
  
  .card:hover .card__ver {
    display: block;
  }
  
  .card__live-indicator {
    position: absolute;
    right: 0;
    padding: 3px;
    padding-right: 15px;
    border-bottom-left-radius: calc(var(--border-radius) /2);
    font-size: 1.5rem;
    background-color: rgba(0,0,0, .6);
  }
  
  .card__live-indicator--alive {
    color: var(--primary-color);
    text-shadow: 0 0 6px var(--primary-color);
  }
  
  .card__live-indicator--dead {
    color: var(--danger-color);
    text-shadow: 0 0 6px var(--danger-color);
  }
  
  .card__live-indicator--unknown {
    color: var(--warning-color);
    text-shadow: 0 0 6px var(--warning-color);
  }
  
  .card__image,
  .card__image img {
    border-top-left-radius: var(--border-radius);
    width: 100%;
  }
  
  .card__name {
    margin: var(--spacing-small);
    margin-right: calc(var(--spacing-medium) *3);
  }
  
  .card__ver {
    position: absolute;
    bottom: var(--spacing-small);
    right: var(--spacing-small);
    display: none;
  }