.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    overflow: auto;
  }
  
  .modal__container {
    position: relative;
    top: 3rem;
    width: 60%;
    border-radius: calc(var(--border-radius) /2);
  }
  
  .modal__container > img {
    position: absolute;
    width: 100%;
  }
  
  .modal__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--spacing-small);
    border-radius: calc(var(--border-radius) /3);
    border: 2px solid var(--warning-color);
    color: var(--warning-color);
    background-color: transparent;
    cursor: pointer;
  }
  
  .modal__close:hover {
    border: 2px solid var(--danger-color);
    color: var(--grayscale-1);
    background-color: var(--danger-color);
  }
  
  @media screen and (max-width: 1024px) {
    .modal__container {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .modal__container {
      width: 90%;
    }
  }